<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebAppCade: Documents</title>
    </head>
    <body>
        {% include "AppCade/navbar.html" %}
        <!-- Upload form. Note enctype attribute! -->
        <div class="wrapper">
            <div class="leftcolumn">
                <h2>UPLOAD DOCUMENTS:</h2>
                <form action="{% url 'uploaddocument' %}" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>{{ documentForm.non_field_errors }}</p>
                    <p> {{ documentForm.docfile.label_tag }} {{documentForm.docfile.help_text}} </p>
                    <p>{{documentForm.docfile.errors}}</p>
                    <p>   {{documentForm.docfile}}</p>
                    <p>Name:</p>
                    <p>   {{documentForm.name}}</p>
                    <P>Description:</P>
                    <p>   {{documentForm.description}}</p>
                    
                    <input type="submit" value="Upload">
                </form>
            </div>
            
            <div class="rightcolumn">
                <h2>DOCUMENTS:</h2>
                {% for document in documents %}
                <li>Name:<a href="{{ document.docfile.url }}">  {{ document.name }}</a> 
                    <p>
                        Description: {{ document.description}}
                    </p>
                </li>
                {% endfor %}
                <button type="button" onclick="showDocs()">Delete Documents</button>
                <div id="documentDiv" style="visibility:hidden;">
                    <h2>DELETE DOCUMENTS:</h2>
                    <form action="{% url 'deletedocument' %}" method='post' enctype="multipart/form-data">
                    
                        {% csrf_token %}
                        {{ deleteDocumentForm.as_p }}
                        
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    function showDocs(){

        div=document.getElementById("documentDiv");
        if (div.style.visibility=="hidden"){
            div.style.visibility="visible";
        }
        else{
            div.style.visibility="hidden";
        }
        
        
    }
</script>